In [1]:
import pandas as pd
import numpy as np

# 가상 데이터 생성
data = {
    'TransactionID': range(1, 21),
    'CustomerID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'PurchaseAmount': [250, -50, 3000000, 450, 0, 300, 200, 150, -10, 800, 50, 75, 400, np.nan, 600, 1000, 20, 5000, 150, 80],
    'PurchaseDate': pd.date_range(start='2024-01-01', periods=20, freq='MS').tolist(),
    'ProductCategory': ['Electronics', 'Clothing', 'Electronics', 'Home', 'Electronics', 'Home', 'Clothing', 'Home', 'Clothing', 'Electronics', 'Electronics', 'Home', 'Clothing', 'Electronics', 'Home', 'Home', 'Clothing', 'Electronics', 'Home', 'Electronics'],
    'CustomerAge': [25, 35, 45, np.nan, 22, 29, 33, 41, 27, 36, 28, 34, 42, 39, 24, 30, 32, 40, 38, 26],
    'CustomerGender': ['Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', np.nan, 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'ReviewScore': [5, np.nan, 4, 3, 2, 5, 3, 4, 1, 2, np.nan, 4, 5, 3, 4, np.nan, 1, 5, 2, 4]
}

df = pd.DataFrame(data)

In [2]:
df['CustomerAge'].fillna(df['CustomerAge'].median(), inplace=True)
df['ReviewScore'].fillna(df['ReviewScore'].median(), inplace=True)
df['PurchaseAmount'].fillna(df['PurchaseAmount'].mode()[0], inplace=True)
df = df.dropna()
df

,TransactionID,CustomerID,PurchaseAmount,PurchaseDate,ProductCategory,CustomerAge,CustomerGender,ReviewScore
0,1,101,250.0,2024-01-01,Electronics,25.0,Male,5.0
1,2,102,-50.0,2024-02-01,Clothing,35.0,Female,4.0
2,3,103,3000000.0,2024-03-01,Electronics,45.0,Female,4.0
3,4,104,450.0,2024-04-01,Home,33.0,Male,3.0
4,5,105,0.0,2024-05-01,Electronics,22.0,Female,2.0
5,6,106,300.0,2024-06-01,Home,29.0,Male,5.0
6,7,107,200.0,2024-07-01,Clothing,33.0,Female,3.0
8,9,109,-10.0,2024-09-01,Clothing,27.0,Male,1.0
9,10,110,800.0,2024-10-01,Electronics,36.0,Female,2.0
10,11,101,50.0,2024-11-01,Electronics,28.0,Male,4.0
11,12,102,75.0,2024-12-01,Home,34.0,Female,4.0
12,13,103,400.0,2025-01-01,Clothing,42.0,Male,5.0
13,14,104,150.0,2025-02-01,Electronics,39.0,Female,3.0
14,15,105,600.0,2025-03-01,Home,24.0,Male,4.0
15,16,106,1000.0,2025-04-01,Home,30.0,Female,4.0
16,17,107,20.0,2025-05-01,Clothing,32.0,Male,1.0
17,18,108,5000.0,2025-06-01,Electronics,40.0,Female,5.0
18,19,109,150.0,2025-07-01,Home,38.0,Male,2.0
19,20,110,80.0,2025-08-01,Electronics,26.0,Female,4.0

CustomerAge, ReviewScore, PurchaseAmount의 결측값 처리.  
CustomerGender는 값이 둘 중 하나기 때문에 삭제하는 것이 최적의 결정.

In [3]:
Q1 = df['PurchaseAmount'].quantile(0.25)
Q3 = df['PurchaseAmount'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['PurchaseAmount'] < lower_bound) | (df['PurchaseAmount'] > upper_bound) | (df['PurchaseAmount'] < 0)]
print(outliers)

    TransactionID  CustomerID  PurchaseAmount PurchaseDate ProductCategory  \
1               2         102           -50.0   2024-02-01        Clothing
2               3         103       3000000.0   2024-03-01     Electronics
8               9         109           -10.0   2024-09-01        Clothing
17             18         108          5000.0   2025-06-01     Electronics

    CustomerAge CustomerGender  ReviewScore
1          35.0         Female          4.0
2          45.0         Female          4.0
8          27.0           Male          1.0
17         40.0         Female          5.0

이상치가 어떤 행에 포함되어 있는지 출력해서 확인.

In [4]:
df_no_outliers = df[(df['PurchaseAmount'] >= lower_bound) & (df['PurchaseAmount'] <= upper_bound) & (df['PurchaseAmount'] > 0)]

df_no_outliers

,TransactionID,CustomerID,PurchaseAmount,PurchaseDate,ProductCategory,CustomerAge,CustomerGender,ReviewScore
0,1,101,250.0,2024-01-01,Electronics,25.0,Male,5.0
3,4,104,450.0,2024-04-01,Home,33.0,Male,3.0
5,6,106,300.0,2024-06-01,Home,29.0,Male,5.0
6,7,107,200.0,2024-07-01,Clothing,33.0,Female,3.0
9,10,110,800.0,2024-10-01,Electronics,36.0,Female,2.0
10,11,101,50.0,2024-11-01,Electronics,28.0,Male,4.0
11,12,102,75.0,2024-12-01,Home,34.0,Female,4.0
12,13,103,400.0,2025-01-01,Clothing,42.0,Male,5.0
13,14,104,150.0,2025-02-01,Electronics,39.0,Female,3.0
14,15,105,600.0,2025-03-01,Home,24.0,Male,4.0
15,16,106,1000.0,2025-04-01,Home,30.0,Female,4.0
16,17,107,20.0,2025-05-01,Clothing,32.0,Male,1.0
18,19,109,150.0,2025-07-01,Home,38.0,Male,2.0
19,20,110,80.0,2025-08-01,Electronics,26.0,Female,4.0

In [5]:
mean_value = df_no_outliers['PurchaseAmount'].mean()

mean_value

323.2142857142857

이상치가 없는 행들(df_no_outliers)만 모아서 평균값(mean_value)를 구한다.

In [6]:
df['PurchaseAmount'] = df['PurchaseAmount'].apply(lambda x: mean_value if x < lower_bound or x > upper_bound or x < 0 else x)

조건을 만족하는 x자리에 mean_value를 대체한다.

In [7]:
df

,TransactionID,CustomerID,PurchaseAmount,PurchaseDate,ProductCategory,CustomerAge,CustomerGender,ReviewScore
0,1,101,250.000000,2024-01-01,Electronics,25.0,Male,5.0
1,2,102,323.214286,2024-02-01,Clothing,35.0,Female,4.0
2,3,103,323.214286,2024-03-01,Electronics,45.0,Female,4.0
3,4,104,450.000000,2024-04-01,Home,33.0,Male,3.0
4,5,105,0.000000,2024-05-01,Electronics,22.0,Female,2.0
5,6,106,300.000000,2024-06-01,Home,29.0,Male,5.0
6,7,107,200.000000,2024-07-01,Clothing,33.0,Female,3.0
8,9,109,323.214286,2024-09-01,Clothing,27.0,Male,1.0
9,10,110,800.000000,2024-10-01,Electronics,36.0,Female,2.0
10,11,101,50.000000,2024-11-01,Electronics,28.0,Male,4.0
11,12,102,75.000000,2024-12-01,Home,34.0,Female,4.0
12,13,103,400.000000,2025-01-01,Clothing,42.0,Male,5.0
13,14,104,150.000000,2025-02-01,Electronics,39.0,Female,3.0
14,15,105,600.000000,2025-03-01,Home,24.0,Male,4.0
15,16,106,1000.000000,2025-04-01,Home,30.0,Female,4.0
16,17,107,20.000000,2025-05-01,Clothing,32.0,Male,1.0
17,18,108,323.214286,2025-06-01,Electronics,40.0,Female,5.0
18,19,109,150.000000,2025-07-01,Home,38.0,Male,2.0
19,20,110,80.000000,2025-08-01,Electronics,26.0,Female,4.0

In [8]:
print(df.duplicated().sum())

0

중복 값 확인 결과 0.

In [9]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[['PurchaseAmount']]= scaler.fit_transform(df[['PurchaseAmount']])

정규화. minmaxscaler 선택하여 진행.

In [10]:
df

,TransactionID,CustomerID,PurchaseAmount,PurchaseDate,ProductCategory,CustomerAge,CustomerGender,ReviewScore
0,1,101,0.250000,2024-01-01,Electronics,25.0,Male,5.0
1,2,102,0.323214,2024-02-01,Clothing,35.0,Female,4.0
2,3,103,0.323214,2024-03-01,Electronics,45.0,Female,4.0
3,4,104,0.450000,2024-04-01,Home,33.0,Male,3.0
4,5,105,0.000000,2024-05-01,Electronics,22.0,Female,2.0
5,6,106,0.300000,2024-06-01,Home,29.0,Male,5.0
6,7,107,0.200000,2024-07-01,Clothing,33.0,Female,3.0
8,9,109,0.323214,2024-09-01,Clothing,27.0,Male,1.0
9,10,110,0.800000,2024-10-01,Electronics,36.0,Female,2.0
10,11,101,0.050000,2024-11-01,Electronics,28.0,Male,4.0
11,12,102,0.075000,2024-12-01,Home,34.0,Female,4.0
12,13,103,0.400000,2025-01-01,Clothing,42.0,Male,5.0
13,14,104,0.150000,2025-02-01,Electronics,39.0,Female,3.0
14,15,105,0.600000,2025-03-01,Home,24.0,Male,4.0
15,16,106,1.000000,2025-04-01,Home,30.0,Female,4.0
16,17,107,0.020000,2025-05-01,Clothing,32.0,Male,1.0
17,18,108,0.323214,2025-06-01,Electronics,40.0,Female,5.0
18,19,109,0.150000,2025-07-01,Home,38.0,Male,2.0
19,20,110,0.080000,2025-08-01,Electronics,26.0,Female,4.0

In [11]:
df['ProductCategory'] = df['ProductCategory'].map({'Electronics': 0, 'Clothing': 1, 'Home': 2})
df['CustomerGender'] = df['CustomerGender'].map({'Male': 0, 'Female': 1})

df

,TransactionID,CustomerID,PurchaseAmount,PurchaseDate,ProductCategory,CustomerAge,CustomerGender,ReviewScore
0,1,101,0.250000,2024-01-01,0,25.0,0,5.0
1,2,102,0.323214,2024-02-01,1,35.0,1,4.0
2,3,103,0.323214,2024-03-01,0,45.0,1,4.0
3,4,104,0.450000,2024-04-01,2,33.0,0,3.0
4,5,105,0.000000,2024-05-01,0,22.0,1,2.0
5,6,106,0.300000,2024-06-01,2,29.0,0,5.0
6,7,107,0.200000,2024-07-01,1,33.0,1,3.0
8,9,109,0.323214,2024-09-01,1,27.0,0,1.0
9,10,110,0.800000,2024-10-01,0,36.0,1,2.0
10,11,101,0.050000,2024-11-01,0,28.0,0,4.0
11,12,102,0.075000,2024-12-01,2,34.0,1,4.0
12,13,103,0.400000,2025-01-01,1,42.0,0,5.0
13,14,104,0.150000,2025-02-01,0,39.0,1,3.0
14,15,105,0.600000,2025-03-01,2,24.0,0,4.0
15,16,106,1.000000,2025-04-01,2,30.0,1,4.0
16,17,107,0.020000,2025-05-01,1,32.0,0,1.0
17,18,108,0.323214,2025-06-01,0,40.0,1,5.0
18,19,109,0.150000,2025-07-01,2,38.0,0,2.0
19,20,110,0.080000,2025-08-01,0,26.0,1,4.0

ProductCategory는 Electronics, Clothing, Home 각각 0, 1, 2로 인코딩.  
CustomerGender는 male은 0, female은 1로 인코딩하였음.

In [12]:
df_sampled_5 = df.sample(n=5, random_state=42)

5개의 샘플을 추출.

In [13]:
df_sampled_5

,TransactionID,CustomerID,PurchaseAmount,PurchaseDate,ProductCategory,CustomerAge,CustomerGender,ReviewScore
0,1,101,0.250000,2024-01-01,0,25.0,0,5.0
5,6,106,0.300000,2024-06-01,2,29.0,0,5.0
12,13,103,0.400000,2025-01-01,1,42.0,0,5.0
1,2,102,0.323214,2024-02-01,1,35.0,1,4.0
9,10,110,0.800000,2024-10-01,0,36.0,1,2.0